/** {
    background-color: lightgrey;
}*/

h1, h2, h3, h4, h5, h6 {
    color: orange;
    font-size: 1.5em
}

[rowspan="2"], [colspan="2"] {
    font-style: bold;
    color: pink;
}

table {
    border-collapse: collapse;
}

table tr th, td{
    border-collapse: collapse;
    text-align: center;
    border: 1px solid black;
    border-width: thin;
}

#teamRoster li {
    list-style-type: square;
}

[href]:hover {
    background-color: hotpink;
    text-decoration: none;
}

blockquote {
    background-color: purple;
    color: lightpink;
}

#teamRoster > li:first-child {
    background-image: url("https://upload.wikimedia.org/wikipedia/en/4/44/Denver_Broncos_logo.svg");
    background-repeat: no-repeat;
    /*background-blend-mode: lighten;*/
    /*opacity: 0.5;*/
}

#teamRoster > li:last-child {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/5/5c/Chicago_Bears_logo.svg");
    background-repeat: no-repeat;
}

#checkbox-grid {
    list-style: none;
}

/*
We are going to practice targeting and applying styles to these elements.
You will create an external stylesheet named assessment.css, which is already
linked in the HTML file CSSassessment.html. Use NO inline styles - in fact, do
not modify CSSassessment.html at all: we will apply your stylesheet to our copy
of CSSassessment.html to assess your work.

User Story #1

Your headers should be changed to your favorite color and set to a size of 1.5em.
(Notice they are not all the same tag!)

User Story #2

Your table should have bold/colored table headers, as well as a table border.
Content should be centered in their respective blocks.

User Story #3

Your list should have square list bullets.

User Story #4

When the user hovers over a hyperlink the background color of the hyperlink should
change and it should not be underlined.

User Story #5

Set the background color of the block quote text (2nd paragraph) to a dark color
and the font color to a contrasting light color.

User Story #6

Make each team's image the background image for the list. Hint Check out the
element > element and :first-child / :last-child selectors.

User Story #7

The checkbox list should not be bulleted.*/
